<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Labtitan.com</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'active_scaffold_overrides' %>
<%= active_scaffold_includes %>


<script language="javascript">
function rowOverEffect(obj){
	obj.style.backgroundColor = "#FFFFFF";
	obj.style.cursor = "pointer";
	//obj.style="background-color:#FFFFFF; cursor:pointer";
}
function rowOutEffect(obj2,cl){	
	obj2.style.backgroundColor = cl;
}
</script>


</head>
<body>
<div id="content">


	<!--header-->
	<div id="header">
		<div class="float_left"><!--<img src="images/logo.jpg" alt="logo" class="img"/>--></div>
	<div style="float:right; height: auto; padding-right:92px; ">		
	<div class="float_left menu_links"> <%= link_to image_tag("/images/administration.jpg"), :action => 'admin'%>
	</div>
	<div class="float_left menu_links"><%= link_to image_tag("/images/myaccount.jpg"), :action => 'admin'%>
	</div>
	<div class="float_left menu_links"><%= link_to image_tag("/images/logoff.jpg"), :controller => 'users', :action => 'logout'%>
	</div>
	</div>
	</div>
	<!--header-end-->
	




<div style="width:100%; border-top:6px solid #c0db05; background:url(/images/content_bg.jpg) repeat-x; background-color:#cfc6a5;">
		<!--middletop-->
		<!--<div style="width:100%;">
			<div class="float_left"><img src="/images/admin_icon.jpg" alt="admin" class="img_1" /></div>
			<div class="float_left admin_font">Administration</div>
			<div class="clearer"></div>
		</div>-->
		<div style="width:100%;">
		<div style="height:40px;"></div>
		</div>
		<!--middletop-end-->
		
		
		
		<div class="float_left" style="height:auto; width:180px;">
		<!--left-links-->
		<div id="leftbar">
		<ul>						
		<li><%= link_to "Users", :controller => 'admin/users',:action => 'list'%></li>
		<li><%= link_to "Facilities", :controller => 'admin/facilities', :action => 'list'%></li>
		<li><%= link_to "Physicians", :controller => 'admin/physicians',:action => 'list'%></li>
		<li><%= link_to "PhysicianStaffMembers", :controller => 'admin/physician_staff_members',:action => 'list'%></li>
		</ul>
		</div>
		
		
    	<div class="float_left" style="height:auto; width:auto; background-color:#e2dcc6; margin-left:5px;">
		<img src="/images/serperator.jpg" /></div>
		<div class="clearer"></div>			
		<!--left-links-->
		</div>
		
		
		
		<!--rightcontent-->
		<div class="float_right">
		<%= yield%> 
		</div>
		<!--rightcontent-end-->
		
	   <div class="clearer">&nbsp;</div>
	
	</div>
	<div style="width:93%; color:#000000; font-size:12px; margin:10px auto 0 auto;" class="admin_font">
	© 2009 Labtitan  All Rights Reserved
	</div>
</div>
</body>
</html>
